#output {color:black;background: #eee;min-height:2em;box-sizing:border-box}

#log {
	position: fixed;
	top: .5em;
	right: .4em;
}
html {
	margin: 0;
	padding: 0;
}
body {
	color: black;
	background: #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}
#log {
}

#tool {
	display: flex;
	gap: 1em; 
	align-items: center;
	justify-content: center;
	margin: 1em;
}

#board {
	box-sizing:border-box;
	border-collapse: collapse;
	margin: 0;
	user-select: none;
	position: relative;
	border: solid 2px #444;
}
table {
	min-width: calc(46px * 13);
}
#board td {
	width: 46px;
	height: 25px;
	padding: 0;
	box-sizing:border-box;
	background: #eee;
	border: dotted 1px #9e9e9e;
}
#board td[style] {
	border: outset 2px #666;
}

ul#selectBlock {
	position: relative;
}
ul#selectBlock {
	margin: 0;
	padding-left: 2em;
}
ul#selectBlock li {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul#selectBlock li {
	text-align: right;
	position: relative;
	width: 42px;
	height: 25px;
	border: solid 1px #666;
	margin-bottom: .2em;
}
ul#selectBlock li::before {
	text-align: right;
	width: 3em;
	position: absolute;
	left: calc(-42px - 2em);
	display: block;
	content: attr(data-pts);
	padding-left: .5em;
	padding-right: .5em;
}

li.selected {
	outline: solid 2px;
}

.Red    {background    : hsl(  0, 80%, 65%)}
.Yellow {background    : hsl( 60, 80%, 65%)}
.Orange {background    : hsl( 38, 80%, 65%)}
.Blue   {background    : hsl(220, 80%, 65%)}
.Cyan   {background    : hsl(170, 80%, 65%)}
.Pink   {background    : hsl(300, 80%, 65%)}
.Green  {background    : hsl(120, 80%, 65%)}
.White  {background    : hsl(  0,  0%, 90%)}
.Hard   {background    : hsl(  0,  0%, 65%)}
.Immortality{background: hsl( 60, 50%, 50%)}

li.selected.Red    {outline-color    : hsl(  0, 80%, 30%)}
li.selected.Yellow {outline-color    : hsl( 60, 80%, 30%)}
li.selected.Orange {outline-color    : hsl( 38, 80%, 30%)}
li.selected.Blue   {outline-color    : hsl(220, 80%, 30%)}
li.selected.Cyan   {outline-color    : hsl(170, 80%, 30%)}
li.selected.Pink   {outline-color    : hsl(300, 80%, 30%)}
li.selected.Green  {outline-color    : hsl(120, 80%, 30%)}
li.selected.White  {outline-color    : hsl(  0,  0%, 50%)}
li.selected.Hard   {outline-color    : hsl(  0,  0%, 25%)}
li.selected.Immortality{outline-color: hsl( 60, 50%, 25%)}


#io {
	position: relative;
}
textarea  {
	font: 16px/1 monospace;
	width: calc(100% - 1em);
	height: 19rem;
}

#fc2_footer{
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 2000;
}