@import url('../_imgs/svg.css');

body {
	color: #000;
	background: #fff6d0;
	--border-l-color:#e8d6ae;
	--border-color:  #e0c37f;
}
#main-content {
	background: #fff4c1;
	hr {--border-color: #b79e30}
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	color: #85393f;
}

/* Unordered list */
li {--marker-color: #f819b1}
:not(.rel) > ul:not(.simple) {
	> li::before {
		--mask: no-repeat 0 center/.8em .7em var(--marker-url);
		background-color: var(--marker-color);
		-webkit-mask: var(--mask);
		mask: var(--mask);
	}
	ul > li::before {
		background-color: #1aafd0;
	}
	ul ul > li::before {
		background-color: #25db09;
	}
}

/* Definition list */
dl {
	--Q-color: #c2522c;
	--A-color: #e31a94;
}

/* Long quotation */
blockquote {
	color: #444;
	background: #f2eaae;
	--border-color: #887878;
	+ p.cite {background: #d9ff66}
}

/* Tables */
body {
	--table-bgcolor: #fff;
}
.table  {
	--th-color:   #333;
	--th-bgcolor: #f0e2d3;
	--td-color:   #333;
	--td-bgcolor: var(--table-bgcolor);
}
table {
	--group-bg1:    #ffedbe;
	--group-bg2:    #ffe297;
	--border-color: #aaa;
	background-color: var(--table-bgcolor);
	thead, tbody th, tfoot {
		background-color: #e0e0e0;
	}
	colgroup.hlight    {background-color: #f9f6ef}
	thead th.hlight    {background-color: #dad5cc}
	tbody tr:hover     {--hilight-bgcolor:#f5dfdd;}
	th:hover, td:hover {--hilight-bgcolor:#e5c1d4;}
	td:empty::before   {color: #555}
}

/* Notes */
.note {
	--color: #7e4202;
}
div.note {
	color: #523836;
	background: #f4e5cb;
	--border-color: #a88;
}

section.note {
	color: #444;
	background: #eadbc2;
	h2, h3 {
		color: #444;
		background: #eccad2;
		--border-color: #b69d7e;
	}
	ul {
		background: #f3ede3;
	}
}

/* Phrase elements */
em {
	color: #c24a2c;
}
dfn {
	color: #9c5555;
	background: linear-gradient(transparent 80%, #efafd1 80%);
}
cite {
	color: #246307;
	background: linear-gradient(transparent 80%, #95db6f 80%);
}
abbr[title] {
	--border-color: #d51f85;
}
kbd {
	color: #333;
	background: #eee;
	--border-color: #aaa;
}

/* Anchor */
a:link, a:visited {
	color: #c22c40;
}
a[href] {
	text-decoration-color: #e9a997;
	&:hover {
		--bgcolor: #ffdc68;
		color: #c82626;
		background-color: var(--bgcolor);
	}
	&:focus {
		outline: solid 2px #be9c9a;
	}
	&:active {
		color: #38ae84 !important;
	}
}

/* Ghost colors */
.bg-Akabei{background-color:#ff8d8e}
.bg-Pinky {background-color:#ffc3d5}
.bg-Aosuke{background-color:#96e1fa}
.bg-Guzuta{background-color:#ffde9d}

.light-bg-Pinky {background:#ffeff3}
.light-bg-Aosuke{background:#e0f6fe}
.light-bg-Guzuta{background:#fff0d3}

/* Balloon colors */
.balloon {
	--color:        #333;
	--bgcolor:      rgb(246, 219, 209);
	--border-color: #888;
}

/* Navigation */
nav, #toc {
	--bgcolor: #feedc5;
}
header > nav, #toc {
	color: #666;
	background: var(--bgcolor);
}
div.nav::before,
header ul.toc:first-of-type::before  {
	color: #9d637c;
}

/* Toggle button */
#nav-toggle {
	background: #fdfbf9 no-repeat var(--toc-svg-url) 0 0/100% 100%;
	--border-color: #888;
	&:hover {background-color: #f6ebe4}
}

/* Table of contents */
#toc h2 {
	color: #85393f;
	background-color: #f1dfd3;
}
nav a[href], main .toc a[href] {
	text-decoration-color: #efb1b6;
}

/* Relationship navigation */
nav.rel {
	&#rel-top,
	&#rel-bottom {
		background: var(--bgcolor);
	}
	a[href]::before,
	a[href]::after {
		color: var(--marker-color);
	}
	a[href] kbd {
		text-decoration-color: #e99e97;
	}
	.none {
		color: #e19f05;
	}
}

/* Current page / section */
nav {
	--color:  #c74714;
	--bgline: #f9b469;
}
nav li > span.current {
	color: var(--color);
	background: linear-gradient(transparent 80%, var(--bgline) 80%);
	padding-bottom: .1em;
}
a[href].current {
	color: var(--color);
	background: linear-gradient(transparent 80%, var(--bgline) 80%);
	&:hover {background: var(--bgcolor)}
}

/* Heading anchor */
a[href].fragment {
	text-decoration-color: transparent !important;
	&:hover {text-decoration-color: #b398c0 !important}
}
:is(h2,h3,h4,h5,h6) > a[href].fragment::after {
	background: #fff no-repeat center/70% var(--link-svg-url);
}
