@import url('balloon.css') screen;

table {
	--fruits-url: url('../imgs/fruits.png');
}
#a1-wrapper {
	position: relative;
	display: table;
	table {
		border: solid 2px var(--border-color);
		margin: 0;
		table-layout: fixed;
		top:  0;
		left: 0;
	}
	colgroup[class]:not(:nth-child(2)) > col:first-child,
	colgroup.spurt > col:nth-child(3) {
		border-left: double 4.5px var(--border-color);
	}
	th {
		text-align: center;
		vertical-align: middle;
		font-weight: normal;
		line-height: 1.1;
		padding: 0;
	}
	thead th {
		text-align: center;
		vertical-align: top;
		font-feature-settings: 'palt';
   	margin-left: auto;
   	margin-right: auto;
   	padding-top: 1em;
   	width: 2.1em;
   	line-height: 1;
   	.sup {
			display: inline-block;
			text-indent: -.5em;
		}
	}
	thead th .v {
		text-align: left;
		display: inline-block;
		text-orientation: upright;
		writing-mode: vertical-rl;
   	line-height: 1;
		&.l3 {width: 3.2em}
	}
	th.middle {
		vertical-align: middle;
	}
	th,td {
		white-space: nowrap;
		padding: .2em .3em;
		cursor: default;
	}
	td {
		box-sizing: border-box;
		padding-right: .4em;
		min-width: 2.5em;
	}
	tbody tr td:first-of-type ~ td:not(:empty) {
		font-feature-settings: 'hwid' !important;
	}
	tbody tr:not(:last-child) > td,
	tbody tr:not(:last-child) > th {
		border-bottom: hidden;
	}
	tbody td:nth-child(10),
	tbody td:nth-child(12) ~ td {
		text-align: center;
	}
	tbody th {
		background: transparent;
		&:first-child {
			text-align: left;
			padding-left: .5em;
		}
		&.pad::before {
			content: '0';
			visibility: hidden;
		}
	}
	tbody td {
		background: transparent;
		text-align: right;
		&:empty {
			text-align: center !important;
			padding: 0;
		}
		&:empty::before {
			content: '—';
		}
		&.fruit {
			text-align: left;
		}
	}
}
@media screen {
	#a1-wrapper {
		tbody tr:hover {
			background-color: var(--hilight-bgcolor) !important;
		}
		tbody th:hover,
		tbody td:hover {
			background-color: var(--hilight-bgcolor) !important;
		}
		td.fruit span {
			display: flex;
			align-items: center;
			&::before {
				content: '';
				--size: 1rem;
				background: no-repeat center/calc(var(--size) * 8) 90% var(--fruits-url);
				margin-right: .1em;
				width:  var(--size);
				height: var(--size);
				display: inline-block;
			}
		}
	}
	#a2 {
		col.normal,
		col.hard {
			width: 4em;
		}
		col.normal-bonus,
		col.hard-bonus {
			width: 8em;
		}
		th {
			font-size: 90%;
			padding: .3em .3em;
		}
		td {
			font-feature-settings: 'palt' 0;
			padding: .1em .3em;
			&.fruit {
				position: relative;
			}
			&.fruit::before {
				content: '';
				--size: 1.2em;
				background: no-repeat center/calc(var(--size) * 8) 100% var(--fruits-url);
				margin-right: .1em;
				width:  var(--size);
				height: var(--size);
				display: inline-block;
				position: absolute;
				left: .2em;
			}
		}
	}
}
