@import url('06-appendix-tables.css');

html,body {
	margin:  0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
body {
	display: flex;
	margin: 0;
	padding: 1em;
	display: flex;
	align-items: center;
}
main {
	margin:  0 auto;
	padding: 0;
	transform-origin: center;
	position: relative;
}
footer {
	margin-top: .3em;
	padding: 0;
	display: flex;
	justify-content: space-between; 
	align-items: baseline;
	address {
		line-height: 1;
		margin-left: .5em;
	}
	ul.flex li {
		margin-right: .2em !important;
		a[href] {
			text-decoration: none !important;
		}
	}
}

.header {
	display: flex;
	align-items: baseline;
	gap: .5em;
	h1 {font-size: 1rem !important}
}
h1 {
	text-align: left;
	font-weight: bold;
	font-size: 120%;
	margin: 0 0 .2em .5em;
	padding: 0;
	display: block;
	+ p {margin: 0}
}

table#a1-table {
	margin: 0 auto .4em auto;
	table-layout: fixed;
	+ p {
		text-align: center;
		margin: 0 0;
		position: absolute;
		left: 0;
		width: 100%;
	}
}

nav kbd {
	text-decoration-thickness: 1px !important;
}

@media print {
	footer {
		border: none;
		padding: .2em;
		margin-top: 1em;
	}
	thead {
		border-bottom: solid 1px;
	}
}