@import url('06-appendix-tables.css');

ul.appendix li {
	margin: 1em 0;
}
a[href="#easter-eggs_tricks"] {
	display: block;
	text-decoration-color: transparent;
	&.current {
    background: linear-gradient(transparent 85%, var(--bgline) 100%);
	}
	span {
		text-decoration-color: var(--underline-color);
	}
	span + span {
		display: block;
		margin-left: 1em;
  }
}

/* Appendix: A.1 */
#a1 {
	p:first-of-type {
		text-align: center;
		margin: 0;
	}
	p.ref {
		text-align: center;
		margin: 1em 0 2em 0;
	}
}
#a1-wrapper {
	margin: 0 auto;
	th, td, #a1-balloon {
		font-size: 14px;
	}
	@media screen {
		th, td, #a1-balloon {
			font-size: min(1.13vw, .95em);
		}
		tbody tr td:first-of-type ~ td {
			font-feature-settings: 'hwid' !important;
		}
	}
	@media print {
		th, td {
			border: solid 1px !important;
		}
	}
}

/* Appendix: A.2 */
#a2 {
	td {
		text-align: right;
		&:empty::before {
			content: '—';
		}
		&:not(.lv):empty::before {
			padding-right: 1.5em;
		}
	}
	tbody tr {
		> td.lv {
			text-align: left;
			padding-left: 1.5em;
		}
		> td.pad::before {
			content: '0';
		}
	}
}

#hardware caption {
	font-size: 150%;
}
