#main-content {
	padding-bottom: 3em;
}
ul.ref {
	margin: .2em 0 .3em;
	padding: 0;
	li {
		line-height: 1.3;
		margin: 0;
	}
}
dt dfn {
	color: inherit;
}
dd dfn {
	font-weight: bold;
}

/* Glossary */
dl.glossary {
	margin: 1em 0;
	dt {
		margin: 1em 0 .5em 0;
	}
	dd {
		line-height: 1.4;
		margin: 0 0 0 2em;
		padding: 0;
	}
	.note {
		color: gray;
	}
	dd.note {
		color: var(--color);
		margin-top: .5em;
	}
}

/* FAQ */
dl.faq {
	margin: 1.5em -.5em 0 .5em;
	> dt,
	> dd {
		margin:  0;
		padding: 0 0 0 1em;
	}
	> dt {
		font-weight: inherit;
		margin: 1em 0 0 0;
		&:not(:first-child) {
			border-top: dashed 1px;
			padding-top: 1em;
		}
	}
	> dt + dd {
		margin-top: .2em;
		+ dd {margin-top: .7em}
	}

	> dt::before,
	> dt + dd::before {
		text-align: right;
		font-weight: bold;
		display: inline-block;
		padding-right: .3em;
		margin-left: -3.3em;
		width: 3em;
	}
	> dt::before {
		content: 'Ｑ：';
		color: var(--Q-color);
	}
	> dt + dd::before {
		content: 'Ａ：';
		color: var(--A-color);
	}
	> dd {
		line-height: 1.45;
	}
}

.note#development-team {
	display: table;
	p {
		margin: .5em 0;
	}
	table {
		margin: .5em 0;
	}
	th {
		text-align: center;
	}
}

@media print {
	h1 {
		margin: 1.5em 0 !important;
	}
	.note li {
		display: block;
	}
}