.balloon {
	--tale: .4em;
	white-space: nowrap;
	color: var(--color);
	background: var(--bgcolor);
	border: solid 1px #888;
	border-radius: .3em;
	padding: .2em;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	&::before {
		content: '';
		position: absolute;
		clip: rect(auto, auto, var(--tale), auto);
		box-sizing: border-box;
		top: calc(100% - 1px);
		left: var(--taleOffsetLeft, 0);
		border: var(--tale) solid transparent;
		border-top: var(--tale) solid var(--bgcolor);
		z-index: 2;
	}
	&::after {
		content: '';
		position: absolute;
		clip: rect(auto, auto, calc(var(--tale) + 1px), auto);
		height: 1px;
		overflow: hidden;
		top: calc(100%);
		left: var(--taleOffsetLeft, 0);
		border: calc(var(--tale) + 1px) solid transparent;
		border-top: calc(var(--tale) + 1px) solid var(--border-color);
		z-index: 1;
	}
	&[data-side=bottom] {
		&::before {
			top: calc(var(--tale) * -1 + 1px);
			margin-left: 1px;
			border-top-style: none;
			border-bottom: var(--tale) solid var(--bgcolor);
		}
		&::after {
			top: calc(var(--tale) * -1 - 1px);
			border-top-style: none;
			border-bottom: calc(var(--tale) + 1px) solid var(--border-color);
		}
	}
}
