html, body {
	margin:  0;
	padding: 0;
}
html {
	overflow-y: scroll;
}
body {
	color: #FFF;
	background: #000;
	margin: 0;
	padding: 25px;
	opacity: 0;
	transition: 300ms opacity;
	-webkit-user-select: none;
	user-select: none;
	color-scheme: dark;
}
body.dragScrollEnabeld {
	& {cursor: grab}
	&:active {cursor: grabbing}
}

button {
	background: transparent !important;
}

#sliders {
	display: flex;
	gap: 1em;
	font-size: 16px;
	padding: 0 .2em .2em .2em;
	border-radius: 0 0 0 .3em;
	position: fixed;
	top: 0;
	right: .5em;
	background: rgba(0 0 0 /.7);
	z-index: 100;
	cursor: default;
	button,
	input,
	output,
	.unit {
		font-size: 16px;
		vertical-align: middle;
	}
	button {
		padding: 0 .3em;
	}
	output {
		text-align: right;
		display: inline-block;
		width: 2em;
		width: 3ch;
	}
}

main > fieldset:first-child {
	width: fit-content;
	border: solid 2px #AAAAAA;
	border-radius: .7em;
	position: relative;
	margin-bottom: 10px;
	padding: 0 1em 0 1em;
	cursor: default;
}
main > fieldset:first-child .ctrls {
	display: flex;
	gap: 20px;
}
#previewContainer {
	position: relative;
	align-self: center;
}
#previewContainer canvas {
	background: #444;
	border-radius: 10px;
}
#selectAnim {
	margin: 1em 0;
	output {
		text-align: center;
		text-indent: calc(-1 * var(--caret-size));
		&::after {right: .5em}
	}
	[val="-1"] {
		text-align: center;
	}
}
[type=range] {
	--thumb-size: .8rem !important;
	height: 3px;
}

.radioButtons {
	position: relative;
	font-size: 86%;
	margin: .5em 0 0;
	display: flex;
	label {
		text-align: center;
		color: #FFF !important;
		background: #444;
		width: 3.8em;
		&:not(:last-child) {
			border-right: solid 1px #888;
		}
	}
	label:has(:disabled) {
		color: #888 !important;
	}
	label:has(:enabled:checked) {
		color: #EEE !important;
		background: #09C;
	}
	label:first-child {border-radius: .2em 0 0 .2em}
	label:last-child  {border-radius: 0 .2em .2em 0}
	[type=radio] {
		opacity: 0;
		position: absolute;
		pointer-events: none;
	}
}