/* Button */
button {
	display: inline-block;
	cursor: pointer;
}
button, .dropdown .current {
	--bc: #222;
	color: #eee;
	background: var(--bc);
	font-family: 'Atari';
	font-size: 1em;
	font-weight: 400;
	border: solid 2px #666;
	border-radius: .2em;
	outline: 0;;
}
button:hover {
	--bc: #003147;
	color: #fff;
	background-color: var(--bc);
	border-color: #0b93d5;
}
button:focus {
	--bc: #0972a5;
	color: #fff;
	background-color: var(--bc);
	border-color: #0b93d5;
}
button:active {
	color: #fff;
	background-color: #0972a5;
	border: 2px solid #26b3f7;
}
button:disabled {
	cursor: default !important;
}

button::-moz-focus-inner {
	border:  0;
	padding: 0;
}

/* dialog */
dialog {
	color: #fff;
	background: var(--dialog-color);
	font: 24px/1.4 'Atari', sans-serif;
	border: none;
	border-radius: .3em;
	margin: 0;
	padding: .2rem;
	position: absolute;
	top:  0;
	left: 50%;
	transform: scale(var(--scale)) translate(calc(-50% / var(--scale)),var(--dialog-top));
	transform-origin: center top;
	will-change: opacity;
	overflow: hidden;
}
dialog .content {
	white-space: pre;
	border-bottom: solid 2px #ddd;
	padding: .5em 1em 1em;
}
dialog .buttons {
	text-align: center;
	margin-top: .5em;
	padding: .2em .4em .4em .4em;
}
dialog .buttons button {
	margin: .3em;
	padding:.3em .5em;
}

/* input[type=range] */
[type=range]{
	appearance:none;background:rgba(255,255,255,.7);
	border-radius:6px;height:4px;
}
label:hover [type=range]{background:#0b93d5}
::-webkit-slider-thumb{
	appearance:none;background:#fff;border:1px solid #717171;border-radius:100%;
	position:relative;width:12px;height:12px;display:block;
}
::-moz-range-thumb{
	appearance:none;background:#fff;border:1px solid #717171;border-radius:100%;
	position:relative;width:12px;height:12px;display:block;
}

/* menu container */
.menu{
	text-align: left;
	white-space: nowrap;
	color: #fff;
	position: relative;
	display: inline-block
}

/* slide menu */
.slidemenu-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}
.slidemenu-wrapper label{
	line-height:1;
	margin-right: .3em;
}
.slidemenu{
	width: 5em;
	clip-path: inset(0);
	display: inline-block;
	vertical-align: middle;
	border: solid 2px #666;
	border-radius: .3em;
}
.slidemenu li{
	text-align: center;
	display: inline-block;
	clip-path: inset(0);
	padding: 0 1em;
}
.slidemenu menu{
	display: inline-block;
	clip-path: inset(0);
	overflow: hidden;
}

.slidemenu button{
	appearance: none;
	text-indent: -3em;
	background: no-repeat center url(../res/caret.svg);
	opacity: 1;
	border: none;
	padding: 0;
	width: 1em;
	height:1em;
	position: absolute;
	top: 50%;
	z-index:1000;
}
.slidemenu button {
	transform-origin: center;
}
.slidemenu button:disabled{
	opacity:.5;
}
.slidemenu button:focus,
.slidemenu button:hover {
	background-color: transparent;
	border: none;
}
.slidemenu button.l{transform:translateY(-50%) rotate(+90deg);left :0}
.slidemenu button.r{transform:translateY(-50%) rotate(-90deg);right:0}

/* menu pseudo-classes */
label:hover + .slidemenu,
label:hover + .dropdown .current,
.menu-focusable:hover{
	background: #1e2944;
	border-color: #0b93d5
}
.menu-focusable:focus{
	background: #18445a !important;
	border-color: #0b93d5;
	outline: 0
}
.slidemenu:focus .slidemenu-btn:not(:disabled),
.slidemenu-wrapper:hover .slidemenu-btn:not(:disabled) {opacity:1}

#SelectStage-wrapper,
#SelectLives-wrapper  {
	visibility: hidden;
}
#SelectStage-wrapper label,
#SelectLives-wrapper label  {
	display: inline-block;
	height: 1em;
}
.loaded #SelectStage-wrapper,
.loaded #SelectLives-wrapper  {
	visibility: visible;
}

/* Volume Control */
#volCtrl {
	--size: 40px;
	white-space: nowrap;
	width: calc(var(--size) * 1.5);
	height: var(--size);
	position: absolute;
	top: 0;
	visibility: hidden;
}
#volCtrl.loaded {
	top:   1.3em;
	right: 0;
	visibility: visible;
}
#volCtrl:hover input{
	visibility: visible;
	opacity: 1;
	transition: .2s opacity .3s;
}
#speaker{
	text-indent: -100em;
	width:  var(--size);
	height: var(--size);
	overflow: hidden;
	position: absolute;
	top:   0;
	right: 0;
}
#speaker::before {
	content: '';
	width: calc(var(--size)*4);
	height: var(--size);
	background: url(../res/vol.png);
	background-size: calc(var(--size) * 4) var(--size);
	background-position: calc(-1 * var(--size)*8) calc(-1 * var(--size)*4);
	transform: translateX(calc(-1 * var(--size)*var(--w)));
	position: absolute;
	top:  0;
	left: 0;
	cursor: pointer;
}
.volCtrlWrapper{
	width:   8px;
	height: 125%;
}
.volCtrlWrapper label {
	display: block;
	height: 100%;
}
.volCtrlWrapper input {
	background: #0b93d5;
	opacity: 0;
	visibility: hidden;
	width: var(--size);
	position: absolute;
	left: 0;
	top:  0;
	z-index: 10000;
	transform: translate(-10px,calc(var(--size)/2)) rotate(-90deg);
	transform-origin: top center;
	outline: 0;
}