html,body {
	margin:  0;
	padding: 0;
	width:  100%;
	height: 100%;
	overflow: hidden;
}
html{
	user-select:none;cursor:default;
	font-size: 20px;
}
::selection{color:inherit;background:0 0}

body {
	color: white;
	background: #666666;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
div,h1,dd,dl,dt,input,li,menu,ol,td,th,ul,form,output{
	margin:0;padding:0;list-style-type:none
}
button,dd,div,dt,li,menu,table,ul,kbd{
	box-sizing:border-box !important
}

body[data-state=loading]::before {
	content: 'Now\2002Loading...';
	text-align: center;
	color: lime;
	font: 4vmin/1 Vector;
	position: absolute;
	top: 50%;
	z-index: 10000;
	transform: translateY(-50%);
}
body[data-state=loading] canvas {
	width: auto;
	height: 98%;
}
#debug {
	position: fixed;
	top: 1.5em;
	left: .5em;
}

#board {
	display: table;
	transform-origin: center;
	will-change: transform;
	padding-top: 1rem;
	padding-bottom: 14px;
}
#fc2_footer{
	width: auto !important;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 2000;
}
#fc2_footer a[href]{
	color: cyan !important;
}