html,body {
	margin:  0;
	padding: 0;
	width:  100%;
	height: 100%;
	overflow: hidden;
}
html {
	font-size: calc(var(--tile-size) * 1px);
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
}
body {
	color: #FFF;
	background: #334;
	font: 1rem/1 Verdana, sans-serif;
	display: grid;
	place-content: center;
}
::selection {
	color: inherit;
	background: 0 0;
}
div,ul,menu,li,th,td,form,input,output {
	margin:  0;
	padding: 0;
	list-style-type: none;
}
svg {
	fill: #FFF;
	pointer-events: none;
}

[data-cursor=hidden],
[data-cursor=stayStill] {
	body:not([data-state=Title])
		canvas {cursor: none}
}

#board {
	background: #000;
	padding-top:   0.5rem;
	border-radius: 0.7rem;
	position: relative;
	transform-origin: center;
	opacity: 0;
	will-change: opacity;
}
body[data-loaded=true] #board {
	opacity: 1;
}
body:not([data-state=Title]) #titleScr {
	display: none;
}

#startBtn {
	text-align: center;
	white-space: nowrap;
	color: #EEE;
	background: #222C;
	font: .8rem/1 Atari, sans-serif;
	padding: .4rem 1.5rem .2rem;
	border: solid 2px #777;
	position: absolute;
	top: 21.85rem;
	left: 50%;
	translate: -50% 0;
	transition: color .2s, border-color .2s;
	&:hover,
	&:focus  {color:#6CF;border-color:currentColor}
	&:active {color:#F39;border-color:currentColor}
}

#debug {
	white-space: pre;
	position: fixed;
	top:  .5em;
	left: .5em;
}